:root {
  --theme-clr: #041381;
  --theme-radio-check: linear-gradient(84.22deg, #fc912e 5.65%, #fcbd1c 100%);
  --theme-link: #d1a403;
  --theme-link-hover: #9d7f15;
  --theme-light-box-shadow: #00000020;
  --theme-dark-box-shadow: #00000050;
  --text-shadow: #00000075;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #5f5f5f;
}
.font-14 {
  font-size: 14px;
}
/*page loader gif*/
#pgLoader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pgLoaderGif {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid var(--theme-clr);
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*common*/
body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-navbar {
  position: sticky;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: 555;
  padding: 0;
  background-color: #fff;
}

.header-navbar .header-navbar-inner {
  background-color: #00000055;
  backdrop-filter: blur(42px);
  padding: 8px 24px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
}

.header-navbar .header-navbar-inner #brandLogo {
  width: 130px;
}

.header-navbar #loginBtn {
  background-color: var(--theme-clr);
  width: 35px;
  height: 35px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header-navbar #loginBtn .login-icon {
  width: 15px;
  padding-bottom: 3px;
}

.header-navbar .navbar-toggler {
  color: #fff;
  padding: 0;
  outline: none;
}

.header-navbar .header-navbar-inner .request-call-btn {
  padding: 8px 20px;
}

.header-navbar .navbar-links .navbar-nav {
  column-gap: 16px;
}

.header-navbar .navbar-links .nav-item .nav-link {
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-navbar .navbar-links .nav-item .nav-link:hover,
.header-navbar .navbar-links .nav-item .nav-link:focus,
.header-navbar .navbar-links .nav-item .nav-link:active {
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.header-navbar .nav-link {
  padding-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 16px;
  color: #ababab !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-navbar .nav-link:active,
.header-navbar .nav-link:hover,
.header-navbar .nav-link:focus {
  color: var(--theme-clr) !important;
}
.header-navbar .nav-item.active .nav-link {
  position: relative;
  color: var(--theme-clr) !important;
  display: flex;
  justify-content: center;
}
.header-navbar .nav-item.active .nav-link:before {
  background: #fccf2e;
  content: '';
  width: 80%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  border-radius: 50px;
}
.header-navbar .sign-in-btn {
  background: #fff;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgb(96 96 96 / 15%);
  border-radius: 10px;
  color: var(--theme-clr);
  padding: 12px 26px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22rem;
}
.footer {
  background: #4d58ac;
}
.footer .copy-right {
  box-shadow: inset 0px 1px 0px rgb(255 255 255 / 25%);
}
.footer a {
  display: inline-block;
  margin-bottom: 12px;
}
.footer p,
.footer li {
  font-size: 15px;
}
.footer .social-media-link {
  color: #2e3a96;
  background: #fff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .social-media-link:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.footer .main-heading {
  font-weight: 600;
}

.page-main-content {
  padding-bottom: 22rem;
}

select,
input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom-file-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5.5rem;
}

.toggle-password {
  position: absolute;
  right: 8px;
  cursor: pointer;
  color: #5b6c7c;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.overflow-text-one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.overflow-text-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.overflow-text-three-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

button[disabled] {
  cursor: no-drop;
}

.account-auth-pg .btn {
  border-radius: 15px;
}

.btn {
  background: linear-gradient(84.22deg, var(--theme-clr) 5.65%, #1f71d0 93.53%),
    var(--theme-clr);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.white-btn {
  background: #fff;
  border: 1px solid #dddddd;
  color: var(--theme-clr);
}

.pagination .page-link {
  color: var(--theme-clr);
  border: none;
  background: none;
}

.pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: var(--theme-clr) !important;
  border-color: var(--theme-clr) !important;
  border-radius: 50px;
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
  color: #fff !important;
  background: var(--theme-clr);
  text-shadow: 0 2px 6px var(--text-shadow);
}

.bg-success,
.btn-success {
  background: #5cb85c !important;
}

.bg-danger,
.btn-danger {
  background: #d9534f !important;
}

.light-box-shadow {
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
}

.dark-box-shadow {
  box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
}

.theme-color {
  color: var(--theme-clr);
}

.theme-bg {
  background-color: var(--theme-clr);
}

.text-white {
  text-shadow: 0 2px 6px var(--text-shadow);
}

.list-style-none {
  list-style: none;
}

th,
td {
  white-space: nowrap;
}

.top-0 {
  top: 0 !important;
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
body span.select2-selection.select2-selection--single {
  line-height: calc(1.2em + 0.75rem + 5px);
  font-size: 15px;
  padding: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-radius: 0.25rem !important;
}

/* input.form-control[type=number]::-webkit-inner-spin-button,
  input.form-control[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  } */

.account-auth-pg .form-control {
  border-radius: 15px;
}

body .form-control {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 16px;
  height: calc(2.5em + 0.75rem + 2px);
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

body span.select2-selection__arrow:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 700;
}

body span.select2-selection {
  border: 2px solid #ced4da !important;
}

body span.select2-selection.select2-selection--single {
  height: calc(1.5em + 0.75rem + 5px);
  padding-left: 12px;
}

body .custom-file-input:focus ~ .custom-file-label,
body .form-control:focus {
  border-color: var(--theme-clr);
  box-shadow: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;
}

body .custom-control-input:checked ~ .custom-control-label:before,
body
  .custom-control-input:not(:disabled):active
  ~ .custom-control-label:before {
  background: var(--theme-radio-check);
  border: none;
}

body .custom-control-label {
  cursor: pointer;
}

body .custom-control-label:after,
body .custom-control-label:before {
  top: 0.2rem;
}

body .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

body .custom-control-input:focus:not(:checked) ~ .custom-control-label:before,
body .custom-control-label:before {
  background-color: #fff;
  border: 1px solid #9cafbe;
}

body .custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: none;
}

body .required {
  color: #ff2800 !important;
  font-weight: 600;
}

button.theme-link {
  border: none;
  background: none;
  outline: none;
}

textarea {
  min-height: 160px;
}

.theme-link {
  color: var(--theme-link);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-link:hover,
.theme-link:focus,
.theme-link:active {
  color: var(--theme-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 32px !important;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px !important;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}
.action-btn {
  color: white !important;
}

/*account auth*/
img[alt='account-auth-logo'] {
  position: absolute;
  left: 8%;
  top: 2%;
  width: 105px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
}
.account-auth-pg {
  display: flex;
  align-items: center;
}
.account-auth-pg .sign-step-one-img {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  padding: 100px;
  background: #fafcfe;
}
.account-auth-pg .beneath-main-heading {
  font-size: 18px;
  color: #5f5f5f;
}
.pass-below-text {
  color: #3a3a3a;
}
.account-auth-pg .create-account-btn {
  width: 100%;
}
.account-auth-pg .account-auth-btns {
  background: #ffffff;
  border: 1px solid #cdd0e6;
  border-radius: 15px;
  width: 48%;
  height: 56px;
}
.account-auth-pg label[for='phoneNumber'] + .iti {
  display: block;
}
.account-auth-pg label[for='phoneNumber'] + .iti .iti__selected-flag {
  border-radius: 12px 0 0 12px;
  background-color: rgba(0, 0, 0, 0.05);
}
.contact-us-txt {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.choose-plan-block {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
}
.choose-plan-block .choose-plan-inside {
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 8px rgba(148, 42, 232, 0.15);
  border-radius: 10px;
}
.choose-plan-block .heading {
  color: var(--theme-clr);
}
.choose-plan-block .percent-sign {
  position: relative;
  bottom: 5px;
}
.choose-plan-block .check-mark {
  color: #737373;
}
.steps-model {
  box-shadow: 0px 2px 16px rgb(149 148 148 / 15%);
  padding: 36px;
  border-radius: 15px;
  margin-top: 36px;
}
.auth-step:first-child {
  margin-left: 0;
}
.auth-step:last-child {
  margin-right: 0;
}
.auth-step {
  width: 40px;
  height: 8px;
  border-radius: 10px;
  margin: 4px;
}
.grey-step {
  background: #d9d9d9;
}
.gradient-step {
  background: linear-gradient(84.22deg, #fc912e 5.65%, #fcbd1c 100%);
}
.steps-label {
  font-family: 'Raleway';
  font-weight: 600;
}
.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.interests-container .interest {
  padding: 8px 16px;
  border: 0.5px solid #7dc6fd;
  border-radius: 10px;
  color: #737373;
}
.interests-container .interest.active {
  background: #7dc6fd;
  color: #fff;
}
.interests-container .interest.active > .fa-check-circle {
  background: #fff;
  color: #7dc6fd;
  border-radius: 50px;
  border: 1px solid #fff;
  padding-right: 1px;
}
.interests-container .add-interest {
  cursor: pointer;
}
.interests-container .add-interest:hover,
.interests-container .add-interest:focus,
.interests-container .add-interest:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.account-auth-pg .signup-as-radio {
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 40px 12px;
  width: 216px;
}
.account-auth-pg .signup-as-radio .custom-control-label:after,
.signup-as-radio .custom-control-label:before {
  top: 16px;
  right: 16px;
  left: unset;
}
.account-auth-pg .signup-as-radio {
  cursor: pointer;
}
/*account auth*/

.interests-block .interest {
  display: inline-block;
  background: #7dc6fd;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
.team-txt {
  font-family: 'Raleway';
  font-weight: 500;
}
a,
.view-more {
  color: #5862ab;
}
.card {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgba(48, 48, 48, 0.1);
  border-radius: 15px;
}
.card .prof-img {
  width: 105px;
  height: 105px;
  object-fit: contain;
  border: 4px solid #d9d9d9;
  border-radius: 50px;
}

.banner-block {
  background: #00000080;
}
.challenges-pg .ellipse-img {
  border-radius: 50%;
  border: 16px solid #e9f3ff;
  height: 205px;
  width: 205px;
  object-fit: contain;
}
.challenges-pg .yello-circle {
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 55px;
  background-color: #fbc504;
  border-radius: 50px;
}
.challenges-pg .meet-team-section {
  column-gap: 106px;
  row-gap: 40px;
}
.challenges-pg .member-name {
  color: #020a41;
}

.started-kit-pg .challenge-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
.started-kit-pg .kit-feature-img {
  height: 200px;
  object-fit: contain;
  object-position: left;
}
.started-kit-pg .inno-images-gap {
  gap: 4px;
}

.content-w-side-img .blue-orange-heading,
.content-w-side-img .blue-orange-heading * {
  font-size: 48px !important;
}
.content-w-side-img .blue-orange-heading {
  color: #030d56;
}
.orange {
  color: #fc912e;
}
.content-w-side-img .btn {
  margin-top: 40px;
}
.current-challenge-block {
  border: 1px solid #cdd0e6;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}
.current-challenge-block .orange-txt {
  background: #fccf2e;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px 0 0 12px;
  font-size: 14px;
}
.current-challenge-block .grey-txt {
  background: #dddddd66;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 0 12px 12px 0;
  font-size: 14px;
}
.how-it-works .draw-img {
  height: 155px;
  object-fit: contain;
}
.how-it-works .draw-number {
  background: var(--theme-clr);
  color: #fff;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.challenge-block .label {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 14px;
}
.challenge-block .label + p {
  font-size: 14px;
}
.breadcrumbs .link {
  font-family: 'Raleway';
  font-weight: 500;
  color: #8b7d7d;
}
.breadcrumbs .link.active {
  position: relative;
  color: var(--theme-clr);
}
.breadcrumbs .link.active:before {
  background: #fccf2e;
  content: '';
  width: 48px !important;
  color: green;
  height: 4px;
  position: absolute;
  bottom: -8px;
  border-radius: 50px;
}
.add-additional-info {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 16px 24px;
  gap: 16px;
}
.cursor-icon {
  cursor: pointer;
}
.challenge-nav-tabs {
  border-bottom: none;
  background: #f7f7f7;
}
.challenge-nav-tabs .nav-link {
  font-family: 'Raleway', sans-serif;
  padding: 16px 30px;
  color: #737373;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.challenge-nav-tabs .nav-link:focus,
.challenge-nav-tabs .nav-link:hover,
.challenge-nav-tabs .nav-link:active {
  border-color: var(--theme-clr);
  color: var(--theme-clr);
  border-radius: 0;
  box-shadow: none;
}
.challenge-nav-tabs .nav-item.show .nav-link,
.challenge-nav-tabs .nav-link.active {
  background: linear-gradient(
    98.3deg,
    rgba(0, 179, 218, 0.78) -16.08%,
    var(--theme-clr) 125.08%
  );
  color: #fff !important;
  border: none;
  border-radius: 0;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Select a file';
  color: #fff;
  background: var(--theme-clr);
  text-shadow: 0 2px 6px var(--text-shadow);
  border-radius: 10px;
  border-radius: 8px !important;
  padding: 8px 24px;
}
.dropzone-attachment {
  border: 0.818766px dashed #abb0d5;
  background: rgba(239, 243, 248, 0.25);
  padding: 32px 145px;
}
.custom-file-label {
  background: none;
  border: none;
  font-family: 'Raleway';
  font-weight: 500;
}
.file-size-txt {
  font-weight: 500;
}
.theme-blue-link {
  color: #2e3a96;
  background: none;
  border: none;
  outline: none !important;
}
.text-blue {
  color: #abb0d5;
}
.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.challenge-body {
  padding: 96px;
}

.challenge-body .blue-heading {
  color: var(--theme-clr);
}

.challenge-body .below-main-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.challenge-body img[alt='challenge-img'] {
  width: 140px;
  height: 140px;
}

.challenge-body img[alt='share-icon'] {
  width: 20px;
  margin-right: 16px;
}
@media (max-width: 1199px) {
  .challenge-body {
    padding: 36px;
  }
  h1,
  .h1 {
    font-size: 32px;
  }
  .dropzone-attachment {
    padding: 16px;
  }
  .choose-plan-block {
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .challenge-body {
    padding: 24px;
  }

  .challenge-body img[alt='challenge-img'] {
    width: 120px;
    height: 120px;
  }

  .challenge-body img[alt='share-icon'] {
    width: 16px;
    margin-right: 10px;
  }

  .steps-model {
    padding: 24px;
  }

  .choose-plan-block {
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
  }

  .challenge-nav-tabs .nav-link {
    padding: 16px;
  }

  h2,
  .h2 {
    font-size: 28px !important;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 22px !important;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  .btn {
    padding: 10px 16px;
    border-width: 1px;
  }

  .content-w-side-img .blue-orange-heading,
  .content-w-side-img .blue-orange-heading * {
    font-size: 30px !important;
  }
  .content-w-side-img .btn {
    margin-top: 16px;
  }

  /*account auth*/
  .account-auth-pg .account-auth-btns {
    height: 45px;
  }
  img[alt='account-auth-logo'] {
    left: 5px;
    top: 5px;
  }
  .account-auth-pg {
    justify-content: center;
    height: 100vh;
  }
  .account-auth-step-2 {
    height: unset;
  }
  .account-auth-step-3 {
    height: unset;
  }
  /*account auth*/

  .header-navbar {
    background-color: #212529;
    border-radius: 0;
    box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
    border-bottom: 2px solid var(--theme-link);
  }
  .header-navbar .nav-link {
    margin: 0;
    border-bottom: 1px solid !important;
    font-size: 16px;
    padding: 8px 0;
  }
  .header-navbar .nav-item:last-child .nav-link {
    border-bottom: none !important;
  }
  .header-navbar .nav-item.active .nav-link {
    color: #fff !important;
  }
  .header-navbar .sign-in-btn {
    padding: 8px 24px;
  }
  .challenges-pg .meet-team-section {
    column-gap: 40px;
    row-gap: 20px;
  }
  .challenges-pg .ellipse-img {
    border-width: 8px;
    height: 165px;
    width: 165px;
  }
  .challenges-pg .yello-circle {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 767px) {
  a,
  button,
  b,
  p,
  span,
  label,
  .form-control,
  .custom-file-label,
  .custom-control-label {
    font-size: 14px !important;
  }
  .btn {
    padding: 8px 16px;
  }
  .interests-block .interest {
    margin: 4px 0;
  }
  /*account auth*/
  img[alt='account-auth-logo'] {
    position: unset;
  }
  .account-auth-pg {
    height: unset;
  }
  /*account auth*/

  .page-main-content {
    padding-bottom: 28.5rem;
  }

  .footer {
    height: 28.5rem;
  }

  .team-project-section {
    row-gap: 8px;
  }
}

@media (max-width: 575px) {
  .challenge-body img[alt='challenge-img'] {
    width: 90px;
    height: 90px;
  }

  a,
  button,
  b,
  p,
  span,
  label,
  small,
  .btn,
  .form-control,
  .custom-file-label,
  .custom-control-label {
    font-size: 12px !important;
  }

  h1,
  .h1 {
    font-size: 20px;
  }

  h2,
  .h2 {
    font-size: 18px !important;
  }

  h3,
  .h3 {
    font-size: 16px;
  }

  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: 14px !important;
  }
  .challenge-nav-tabs .nav-link {
    padding: 8px;
  }
  .steps-model {
    padding: 16px;
    margin-top: 15px;
  }
  .choose-plan-block {
    display: block;
  }
  .choose-plan-block li {
    font-size: 14px;
  }
  .auth-step {
    width: 30px;
    height: 6px;
  }
  .header-navbar .header-navbar-inner {
    background-color: #212529;
    border-radius: 0;
    box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
    border-bottom: 1px solid #e59c58;
  }
  .banner-block .mob-heading {
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }

  .account-auth-step-3 .signup-as-radio {
    width: 48% !important;
  }

  .page-main-content {
    padding-bottom: unset;
  }

  .footer {
    height: unset;
    position: unset;
  }

  .content-w-side-img .blue-orange-heading,
  .content-w-side-img .blue-orange-heading * {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }

  .started-kit-pg .kit-feature-img {
    height: 150px;
    object-position: center;
  }
}
