:root {
  --theme-clr: #041381;
  --theme-radio-check: linear-gradient(84.22deg, #fc912e 5.65%, #fcbd1c 100%);
  --theme-link: #d1a403;
  --theme-link-hover: #9d7f15;
  --theme-light-box-shadow: #00000020;
  --theme-dark-box-shadow: #00000050;
  --text-shadow: #00000075;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* BY MOHSAN  STYLE*/
.badge {
  border-radius: 15px;
  padding: 8px 16px;
}
.badge-closed {
  background: rgba(255, 91, 91, 0.15);
  color: #ff5b5b;
}
.badge-active {
  background: rgba(46, 214, 163, 0.15);
  color: #00a389;
}
.grey-txt {
  color: #5f5f5f;
}
.user-pic {
  background: #5f5f5f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-left: -10px;
}
.btn-post {
  background: linear-gradient(84.22deg, var(--theme-clr) 5.65%, #1f71d0 93.53%),
    var(--theme-clr);
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgb(96 96 96 / 15%);
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px;
  font-weight: 700;
}
.btn-edit {
  background: #fff;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgb(96 96 96 / 15%);
  border-radius: 10px;
  color: var(--theme-clr);
  padding: 10px 26px;
  font-weight: 700;
}
.btn-edit:hover {
  color: #fff;
  background: linear-gradient(84.22deg, var(--theme-clr) 5.65%, #1f71d0 93.53%),
    var(--theme-clr);
}
.pdf-icon {
  font-size: 100px;
  color: red;
  text-align: center;
}
.word-icon {
  font-size: 100px;
  color: #000;
  text-align: center;
}
.shared-by {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.hr {
  height: 3px;
  width: 100%;
  background-color: #dddddd;
}
.check-done {
  color: var(--theme-clr);
}
.icon-section {
  width: 5%;
}
.card-section {
  width: 95%;
}

.side-contact-block {
  background: #fafcfe;
  height: 100vh;
}
.contacr-details {
  padding: 100px;
}
.contact-form label {
  font-weight: bold;
}
.rules-border {
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 17px;
}
.participant {
  border: 6px solid #d3e5fc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.open-slots {
  color: var(--theme-clr);
}
.search-field {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.community-media-img {
  width: 50px;
  height: 50px;
}
.btn-answer {
  background: linear-gradient(84.22deg, var(--theme-clr) 5.65%, #1f71d0 93.53%),
    var(--theme-clr);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px 24px;
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* END BY MOHSAN STYLE */
p {
  color: #5f5f5f;
}
.font-14 {
  font-size: 14px;
}
/*page loader gif*/
#pgLoader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pgLoaderGif {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid var(--theme-clr);
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*common*/
body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-navbar {
  position: sticky;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: 555;
  padding: 0;
  background-color: #fff;
}

.header-navbar .header-navbar-inner {
  background-color: #00000055;
  backdrop-filter: blur(42px);
  padding: 8px 24px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
}

.header-navbar .header-navbar-inner #brandLogo {
  width: 130px;
}

.header-navbar #loginBtn {
  background-color: var(--theme-clr);
  width: 35px;
  height: 35px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header-navbar #loginBtn .login-icon {
  width: 15px;
  padding-bottom: 3px;
}

.header-navbar .navbar-toggler {
  color: #fff;
  padding: 0;
  outline: none;
}

.header-navbar .header-navbar-inner .request-call-btn {
  padding: 8px 20px;
}

.header-navbar .navbar-links .navbar-nav {
  column-gap: 16px;
}

.header-navbar .navbar-links .nav-item .nav-link {
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-navbar .navbar-links .nav-item .nav-link:hover,
.header-navbar .navbar-links .nav-item .nav-link:focus,
.header-navbar .navbar-links .nav-item .nav-link:active {
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.header-navbar .nav-link {
  padding-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 16px;
  color: #ababab !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header-navbar .nav-link:active,
.header-navbar .nav-link:hover,
.header-navbar .nav-link:focus {
  color: var(--theme-clr) !important;
}
.header-navbar .nav-item.active .nav-link {
  position: relative;
  color: var(--theme-clr) !important;
  display: flex;
  justify-content: center;
}
.header-navbar .nav-item.active .nav-link:before {
  background: #fccf2e;
  content: '';
  width: 80%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  border-radius: 50px;
}
.header-navbar .sign-in-btn {
  background: #fff;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgb(96 96 96 / 15%);
  border-radius: 10px;
  color: var(--theme-clr);
  padding: 12px 26px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22rem;
  z-index: 10;
}
.footer {
  background: #4d58ac;
}
.footer .copy-right {
  box-shadow: inset 0px 1px 0px rgb(255 255 255 / 25%);
}
.footer a {
  display: inline-block;
  margin-bottom: 12px;
}
.footer p,
.footer li {
  font-size: 15px;
}
.footer .social-media-link {
  color: #2e3a96;
  background: #fff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .social-media-link:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.footer .main-heading {
  font-weight: 600;
}

.page-main-content {
  padding-bottom: 22rem;
}

select,
input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom-file-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5.5rem;
}

.toggle-password {
  position: absolute;
  right: 8px;
  cursor: pointer;
  color: #5b6c7c;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.overflow-text-one-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.overflow-text-two-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.overflow-text-three-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

button[disabled] {
  cursor: no-drop;
}

.account-auth-pg .btn {
  border-radius: 15px;
}

.btn {
  background: linear-gradient(84.22deg, var(--theme-clr) 5.65%, #1f71d0 93.53%),
    var(--theme-clr);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.white-btn {
  background: #fff;
  border: 1px solid #dddddd;
  color: var(--theme-clr);
}

.pagination .page-link {
  color: var(--theme-clr);
  border: none;
  background: none;
}

.pagination .page-item.active .page-link {
  color: #fff !important;
  background-color: var(--theme-clr) !important;
  border-color: var(--theme-clr) !important;
  border-radius: 50px;
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
  color: #fff !important;
  background: var(--theme-clr);
  text-shadow: 0 2px 6px var(--text-shadow);
}

.bg-success,
.btn-success {
  background: #5cb85c !important;
}

.bg-danger,
.btn-danger {
  background: #d9534f !important;
}

.light-box-shadow {
  box-shadow: 0 2px 10px var(--theme-light-box-shadow);
}

.dark-box-shadow {
  box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
}

.theme-color {
  color: var(--theme-clr);
}

.theme-bg {
  background-color: var(--theme-clr);
}

.text-white {
  text-shadow: 0 2px 6px var(--text-shadow);
}

.list-style-none {
  list-style: none;
}

th,
td {
  white-space: nowrap;
}

.top-0 {
  top: 0 !important;
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
body span.select2-selection.select2-selection--single {
  line-height: calc(1.2em + 0.75rem + 5px);
  font-size: 15px;
  padding: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-radius: 0.25rem !important;
}

/* input.form-control[type=number]::-webkit-inner-spin-button,
  input.form-control[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  } */

.account-auth-pg .form-control {
  border-radius: 15px;
}

body .form-control {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 16px;
  height: calc(2.5em + 0.75rem + 2px);
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

body
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

body span.select2-selection__arrow:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  font-weight: 700;
}

body span.select2-selection {
  border: 2px solid #ced4da !important;
}

body span.select2-selection.select2-selection--single {
  height: calc(1.5em + 0.75rem + 5px);
  padding-left: 12px;
}

body .custom-file-input:focus ~ .custom-file-label,
body .form-control:focus {
  border-color: var(--theme-clr);
  box-shadow: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;
}

body .custom-control-input:checked ~ .custom-control-label:before,
body
  .custom-control-input:not(:disabled):active
  ~ .custom-control-label:before {
  background: var(--theme-radio-check);
  border: none;
}

body .custom-control-label {
  cursor: pointer;
}

body .custom-control-label:after,
body .custom-control-label:before {
  top: 0.2rem;
}

body .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

body .custom-control-input:focus:not(:checked) ~ .custom-control-label:before,
body .custom-control-label:before {
  background-color: #fff;
  border: 1px solid #9cafbe;
}

body .custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: none;
}

body .required {
  color: #ff2800 !important;
  font-weight: 600;
}

button.theme-link {
  border: none;
  background: none;
  outline: none;
}

textarea {
  min-height: 160px;
}

.theme-link {
  color: var(--theme-link);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.theme-link:hover,
.theme-link:focus,
.theme-link:active {
  color: var(--theme-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 32px !important;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px !important;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}
/*account auth*/
img[alt='account-auth-logo'] {
  position: absolute;
  left: 8%;
  top: 2%;
  width: 105px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
}
.account-auth-pg {
  display: flex;
  align-items: center;
}
.account-auth-pg .sign-step-one-img {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  padding: 100px;
  background: #fafcfe;
}
.account-auth-pg .beneath-main-heading {
  font-size: 18px;
  color: #5f5f5f;
}
.pass-below-text {
  color: #3a3a3a;
}
.account-auth-pg .create-account-btn {
  width: 100%;
}
.cursor-na {
  cursor: not-allowed !important;
}
.account-auth-pg .account-auth-btns {
  background: #ffffff;
  border: 1px solid #cdd0e6 !important;
  border-radius: 15px !important;
  cursor: pointer;
  color: inherit !important;
  box-shadow: none !important;
  width: 48%;
  height: 56px;
}
.account-auth-pg label[for='phoneNumber'] + .iti {
  display: block;
}
.account-auth-pg label[for='phoneNumber'] + .iti .iti__selected-flag {
  border-radius: 12px 0 0 12px;
  background-color: rgba(0, 0, 0, 0.05);
}
.contact-us-txt {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.choose-plan-block {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
}
.choose-plan-block .choose-plan-inside {
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 8px rgba(148, 42, 232, 0.15);
  border-radius: 10px;
}
.choose-plan-block .heading {
  color: var(--theme-clr);
}
.choose-plan-block .percent-sign {
  position: relative;
  bottom: 5px;
}
.choose-plan-block .check-mark {
  color: #737373;
}
.steps-model {
  box-shadow: 0px 2px 16px rgb(149 148 148 / 15%);
  padding: 36px;
  border-radius: 15px;
  margin-top: 36px;
}
.auth-step:first-child {
  margin-left: 0;
}
.auth-step:last-child {
  margin-right: 0;
}
.auth-step {
  width: 40px;
  height: 8px;
  border-radius: 10px;
  margin: 4px;
}
.grey-step {
  background: #d9d9d9;
}
.gradient-step {
  background: linear-gradient(84.22deg, #fc912e 5.65%, #fcbd1c 100%);
}
.steps-label {
  font-family: 'Raleway';
  font-weight: 600;
}
.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.interests-container .interest {
  padding: 8px 16px;
  border: 0.5px solid #7dc6fd;
  border-radius: 10px;
  color: #737373;
}
.interests-container .interest.active {
  background: #7dc6fd;
  color: #fff;
}
.interests-container .interest.active > .fa-check-circle {
  background: #fff;
  color: #7dc6fd;
  border-radius: 50px;
  border: 1px solid #fff;
  padding-right: 1px;
}
.interests-container .add-interest {
  cursor: pointer;
}
.interests-container .add-interest:hover,
.interests-container .add-interest:focus,
.interests-container .add-interest:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.account-auth-pg .signup-as-radio {
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 40px 12px;
  width: 216px;
}
.account-auth-pg .signup-as-radio .custom-control-label:after,
.signup-as-radio .custom-control-label:before {
  top: 16px;
  right: 16px;
  left: unset;
}
.account-auth-pg .signup-as-radio {
  cursor: pointer;
}
/*account auth*/

.interests-block .interest {
  display: inline-block;
  background: #7dc6fd;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
.team-txt {
  font-family: 'Raleway';
  font-weight: 500;
}
a,
.view-more {
  color: #5862ab;
}
.card {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 16px rgba(48, 48, 48, 0.1);
  border-radius: 15px;
}
.card .prof-img {
  width: 105px;
  height: 105px;
  object-fit: contain;
  border: 4px solid #d9d9d9;
  border-radius: 50px;
}

.banner-block {
  background: #00000080;
}
.challenges-pg .ellipse-img {
  border-radius: 50%;
  border: 16px solid #e9f3ff;
  height: 205px;
  width: 205px;
  object-fit: contain;
}
.challenges-pg .yello-circle {
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 55px;
  background-color: #fbc504;
  border-radius: 50px;
}
.challenges-pg .meet-team-section {
  column-gap: 106px;
  row-gap: 40px;
}
.challenges-pg .member-name {
  color: #020a41;
}

.started-kit-pg .challenge-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
.started-kit-pg .kit-feature-img {
  height: 200px;
  object-fit: contain;
  object-position: left;
}
.started-kit-pg .inno-images-gap {
  gap: 4px;
}

.content-w-side-img .blue-orange-heading,
.content-w-side-img .blue-orange-heading * {
  font-size: 48px !important;
}
.content-w-side-img .blue-orange-heading {
  color: #030d56;
}
.orange {
  color: #fc912e;
}
.content-w-side-img .btn {
  margin-top: 40px;
}
.current-challenge-block {
  border: 1px solid #cdd0e6;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}
.current-challenge-block img {
  height: 235px;
  object-fit: cover;
}
.current-challenge-block .orange-txt {
  background: #fccf2e;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px 0 0 12px;
  font-size: 14px;
}
.current-challenge-block .grey-txt {
  background: #dddddd66;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 0 12px 12px 0;
  font-size: 14px;
}
.how-it-works .draw-img {
  height: 155px;
  object-fit: contain;
}
.how-it-works .draw-number {
  background: var(--theme-clr);
  color: #fff;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.challenge-block .label {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 14px;
}
.challenge-block .label + p {
  font-size: 14px;
}
.breadcrumbs .link {
  font-family: 'Raleway';
  font-weight: 500;
  color: #8b7d7d;
}
.breadcrumbs .link.active {
  position: relative;
  color: var(--theme-clr);
}
.breadcrumbs .link.active:before {
  background: #fccf2e;
  content: '';
  width: 48px !important;
  color: green;
  height: 4px;
  position: absolute;
  bottom: -8px;
  border-radius: 50px;
}
.add-additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 16px 24px;
  gap: 16px;
}
.add-additional-info > input {
  width: 100%;
  color: #5f5f5f;
  border: none;
  outline: none;
}
.cursor-icon {
  cursor: pointer;
}
.challenge-nav-tabs {
  border-bottom: none;
  background: #f7f7f7;
}
.challenge-nav-tabs .nav-link {
  font-family: 'Raleway', sans-serif;
  padding: 16px 30px;
  color: #737373;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.challenge-nav-tabs .nav-link:focus,
.challenge-nav-tabs .nav-link:hover,
.challenge-nav-tabs .nav-link:active {
  border-color: var(--theme-clr);
  color: var(--theme-clr);
  border-radius: 0;
  box-shadow: none;
}
.challenge-nav-tabs .nav-item.show .nav-link,
.challenge-nav-tabs .nav-link.active {
  background: linear-gradient(
    98.3deg,
    rgba(0, 179, 218, 0.78) -16.08%,
    var(--theme-clr) 125.08%
  );
  color: #fff;
  border: none;
  border-radius: 0;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Select a file';
  color: #fff;
  background: var(--theme-clr);
  text-shadow: 0 2px 6px var(--text-shadow);
  border-radius: 10px;
  border-radius: 8px !important;
  padding: 8px 24px;
}
.dropzone-attachment {
  border: 0.818766px dashed #abb0d5;
  background: rgba(239, 243, 248, 0.25);
  padding: 32px 145px;
}
.custom-file-label {
  background: none;
  border: none;
  font-family: 'Raleway';
  font-weight: 500;
}
.file-size-txt {
  font-weight: 500;
}
.theme-blue-link {
  color: #2e3a96;
  background: none;
  border: none;
  outline: none !important;
}
.text-blue {
  color: #abb0d5;
}
.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.challenge-body {
  padding: 96px;
}

.challenge-body .blue-heading {
  color: var(--theme-clr);
}

.challenge-body .below-main-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.challenge-body img[alt='challenge-img'] {
  width: 140px;
  height: 140px;
}

.challenge-body img[alt='share-icon'] {
  width: 20px;
  margin-right: 16px;
}

.funding-method {
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 8px rgb(24 59 86 / 18%);
}
.funding-method .main-heading {
  border-bottom: 1px solid #dddddd;
}
.funding-method .img-holder {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 6px 12px;
  text-align: center;
  margin-bottom: 8px;
}
.funding-method .img-holder img {
  width: 32px;
  height: 32px;
}
.funding-method .img-holder.active {
  border-color: #fc912e;
}
.funding-method .grey-text {
  color: #9cafbe !important;
  font-size: 12px;
}
.funding-method .grey-text.active {
  color: #2e3a96 !important;
}
#dashboardSidebar {
  height: 100vh;
  background-color: #fff;
  /* height: 100%; */
  left: 0;
  position: fixed;
  transition: margin 0.25s ease-out;
  width: 255px;
  z-index: 10;
  padding: 10px;
  border-right: 1px solid #dddddd;
  box-shadow: 0px 4px 30px rgb(0 67 101 / 5%);
}
.sidebar-toggle {
  margin-left: -255px !important;
}
.right_main {
  margin-left: 255px;
  transition: margin 0.25s ease-out;
  background: #c4c4c415;
}
.right_main .dropdown-toggle::after {
  display: none;
}
.right_main .profile-user-pic {
  border-radius: 50%;
  box-shadow: 0 2px 10px #00000050;
  height: 45px;
  object-fit: cover;
  width: 45px;
}

.right_main .notifications-holder {
  width: 58px;
  height: 38px;
  background: #f0f5ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_main .search-field {
  height: calc(1.5em + 0.75rem + 2px) !important;
  font-size: 14px;
  visibility: hidden;
}
.right_main .search-field::placeholder {
  color: #ababab;
}
.active .sidebar-links {
  background: #e8f3fc;
  border-radius: 15px;
  color: #03106c;
}
.sidebar-links {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 16px;
  color: #5f5f5f;
}
/*overlay as sidebar open*/
#sideNavOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 555;
}
.font-unset {
  font-family: unset !important;
}
.right_main .block-mode-icon {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.right_main .block-mode-icon1 {
  background: #5a5ab2;
}
.right_main .block-mode-icon2 {
  background: #fc912e;
}
.right_main .block-mode-icon3 {
  background: #ff919b;
}
.right_main .block-mode {
  background: #ffffff;
  border: 1px solid #becbda;
  border-radius: 20px;
  padding: 24px;
}
.right_main .fa-question {
  color: #80808099;
  border: 1px solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_main .current-challenge-block-main .current-challenge-block {
  box-shadow: 0 2px 10px #00000020;
}
.right_main .current-challenge-block-main .current-challenge-block img {
  height: 185px;
  object-fit: cover;
  border-radius: 10px;
}
.right_main .table-responsive {
  border-radius: 20px;
  box-shadow: 0 2px 10px #00000020;
}
.right_main .table td,
.right_main .table th {
  border: none !important;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.right_main .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.right_main .table-striped tbody tr:nth-of-type(even) {
  background: #f8f8f8;
}
.right_main .badge {
  border-radius: 15px;
  padding: 8px 16px;
}
.right_main .badge-in-progress {
  color: #ffbb54;
  background: rgba(255, 187, 84, 0.15);
}
.right_main .badge-closed {
  background: rgba(255, 91, 91, 0.15);
  color: #ff5b5b;
}
.right_main .badge-active {
  background: rgba(46, 214, 163, 0.15);
  color: #00a389;
}
.right_main .user-name {
  color: #03106c;
}
.right_main .user-name-text {
  font-size: 10px;
  padding: 4px 16px;
}
#dashboardSidebarRightContent a,
#dashboardSidebarRightContent button {
  transform: scale(1);
}
.right_main #profContentBtn + .animated-dropdown {
  top: 56px !important;
}
.right_main .navbar .dropdown-item {
  font-size: 14px;
  padding: 2px 16px;
}
.font-IBM {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
}
#dashboardSidebarRightContent .box-shadow {
  border-radius: 15px;
  box-shadow: 0 2px 10px #00000020;
}
.project-admins .name {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  color: #5f5f5f;
}
.project-admins .email {
  font-size: 14px;
  line-height: 16px;
  color: #ababab;
}
.project-admins-block .theme-link {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2e3a96;
}
.logout-block {
  border-top: 1px solid #ccc;
  padding-top: 24px;
  margin-top: 24px;
  font-family: 'Raleway';
  color: #dd1010;
}
.email-select-holder {
  width: 73%;
}
.email-select-holder .email-field {
  padding-right: 8rem;
}
.email-select-holder .can-view {
  position: absolute;
  right: 10px;
  width: 20%;
  border: none;
  padding: 0;
  height: calc(1.5em + 0.75rem + 2px);
}
.createTeamSection form {
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(149, 148, 148, 0.15);
  border-radius: 15px;
}

.createTeamSection form .teamLabel {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.teamName {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 70%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.teamName input {
  border: 0;
  outline: 0;
  width: 100%;
  color: #737373;
}
.formInner p {
  width: 60%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
}
.challengeType {
  width: 60%;
}
.challengeType input,
.challengeType button {
  background: #ffffff;
  border: 0.5px solid #7dc6fd;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #737373;
  margin-bottom: 15px;
}
.imageP {
  color: #737373;
}

.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.profileSettings {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #111111;
  text-align: center;
}

.profile {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}
.profileInner h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.profileEditImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileEdit {
  margin-left: -45px;
  margin-top: 100px;
}
.profileForm label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.profileForm input {
  background-color: transparent;
  padding: 15px;
}
.changebtn {
  margin: 32px;
  background: transparent;
  color: #dd1010;
  border: 1px solid #dd1010;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.changebtn:hover {
  background-color: #dd1010;
}
.profileFooter {
  margin-bottom: -30%;
}
.cancelbtn {
  background: transparent;
  border: 1px solid #030d56;
  color: #030d56;
}
.resetbtn {
  padding: 20px;
}

.btnToggel {
  background: #efefef;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s, margin-left 0.5s;
}
.btnToggel span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
}

.activeToggel {
  background: #2e3a96;
}
.activeToggel span {
  background: #fff;
  margin-left: 31px;
}
.on {
  opacity: 1;
}

div.switcher + div.switcher {
  margin-top: 10px;
}
div.switcher label {
  padding: 0;
}
div.switcher label * {
  vertical-align: middle;
}
div.switcher label input {
  display: none;
}
div.switcher label input + span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 26px;
  background: gray;
  border: 2px solid gray;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
div.switcher label input + span small {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  left: 0;
}
div.switcher label input:checked + span {
  background: #2e3a96;
  border-color: #2e3a96;
}
div.switcher label input:checked + span small {
  left: 50%;
}
.toggelP {
  margin-left: 4rem;
}

.subjectSelect {
  border-radius: 10px;
}

.contactLabel {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
}
.contactLabel select {
  border: 0;
  outline: 0;
  width: 99%;
  padding: 8px;
  background: transparent;
}
.subjectMessage textarea {
  border: 0;
  outline: 0;
  width: 100%;
  background: transparent;
}
.logoutCancel {
  background: transparent;
  color: #030d56;
}

.static-content h2 {
  margin-block: 30px;
}

.static-content {
  padding-inline: 30px;
}

.auth-icon-wrapper {
  height: 40px;
  width: 80px;
  margin: 0 !important;
}

.auth-icon {
  min-height: 100%;
  max-width: 100%;
  height: 40px;
  width: 80px;
}

@media (max-width: 1199px) {
  .challenge-body {
    padding: 36px;
  }
  h1,
  .h1 {
    font-size: 32px;
  }
  .dropzone-attachment {
    padding: 16px;
  }
  .choose-plan-block {
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .email-select-holder {
    width: 100%;
  }
  .right_main {
    margin-left: 0;
  }

  .challenge-body {
    padding: 24px;
  }

  .challenge-body img[alt='challenge-img'] {
    width: 120px;
    height: 120px;
  }

  .challenge-body img[alt='share-icon'] {
    width: 16px;
    margin-right: 10px;
  }

  .steps-model {
    padding: 24px;
  }

  .choose-plan-block {
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
  }

  .challenge-nav-tabs .nav-link {
    padding: 16px;
  }

  h2,
  .h2 {
    font-size: 28px !important;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 22px !important;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  .btn {
    padding: 10px 16px;
    border-width: 1px;
  }

  .content-w-side-img .blue-orange-heading,
  .content-w-side-img .blue-orange-heading * {
    font-size: 30px !important;
  }
  .content-w-side-img .btn {
    margin-top: 16px;
  }

  /*account auth*/
  .account-auth-pg .account-auth-btns {
    height: 45px;
  }
  img[alt='account-auth-logo'] {
    left: 5px;
    top: 5px;
  }
  .account-auth-pg {
    justify-content: center;
    height: 100vh;
  }
  .account-auth-step-2 {
    height: unset;
  }
  .account-auth-step-3 {
    height: unset;
  }
  /*account auth*/

  .header-navbar {
    background-color: #212529;
    border-radius: 0;
    box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
    border-bottom: 2px solid var(--theme-link);
  }
  .header-navbar .nav-link {
    margin: 0;
    border-bottom: 1px solid !important;
    font-size: 16px;
    padding: 8px 0;
  }
  .header-navbar .nav-item:last-child .nav-link {
    border-bottom: none !important;
  }
  .header-navbar .nav-item.active .nav-link {
    color: #fff !important;
  }
  .header-navbar .sign-in-btn {
    padding: 8px 24px;
  }
  .challenges-pg .meet-team-section {
    column-gap: 40px;
    row-gap: 20px;
  }
  .challenges-pg .ellipse-img {
    border-width: 8px;
    height: 165px;
    width: 165px;
  }
  .challenges-pg .yello-circle {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 767px) {
  a,
  button,
  b,
  p,
  span,
  label,
  .form-control,
  .custom-file-label,
  .custom-control-label {
    font-size: 14px !important;
  }
  .btn {
    padding: 8px 16px;
  }
  .interests-block .interest {
    margin: 4px 0;
  }
  /*account auth*/
  img[alt='account-auth-logo'] {
    position: unset;
  }
  .account-auth-pg {
    height: unset;
  }
  /*account auth*/

  .page-main-content {
    padding-bottom: 28.5rem;
  }

  .footer {
    height: 28.5rem;
  }

  .team-project-section {
    row-gap: 8px;
  }
}

@media (max-width: 575px) {
  .funding-method .img-holder img {
    width: 24px;
    height: 24px;
  }
  .funding-method .grey-text {
    font-size: 10px !important;
  }
  .challenge-body img[alt='challenge-img'] {
    width: 90px;
    height: 90px;
  }

  a,
  button,
  b,
  p,
  span,
  label,
  small,
  .btn,
  .form-control,
  .custom-file-label,
  .custom-control-label {
    font-size: 12px !important;
  }

  h1,
  .h1 {
    font-size: 20px;
  }

  h2,
  .h2 {
    font-size: 18px !important;
  }

  h3,
  .h3 {
    font-size: 16px;
  }

  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: 14px !important;
  }
  .challenge-nav-tabs .nav-link {
    padding: 8px;
  }
  .steps-model {
    padding: 16px;
    margin-top: 15px;
  }
  .choose-plan-block {
    display: block;
  }
  .choose-plan-block li {
    font-size: 14px;
  }
  .auth-step {
    width: 30px;
    height: 6px;
  }
  .header-navbar .header-navbar-inner {
    background-color: #212529;
    border-radius: 0;
    box-shadow: 0 2px 10px var(--theme-dark-box-shadow);
    border-bottom: 1px solid #e59c58;
  }
  .banner-block .mob-heading {
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }

  .account-auth-step-3 .signup-as-radio {
    width: 48% !important;
  }

  .page-main-content {
    padding-bottom: unset;
  }

  .footer {
    height: unset;
    position: unset;
  }

  .content-w-side-img .blue-orange-heading,
  .content-w-side-img .blue-orange-heading * {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }

  .started-kit-pg .kit-feature-img {
    height: 150px;
    object-position: center;
  }
}

.upload-image input {
  display: block !important;
  width: 158px !important;
  height: 45px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
.upload-image {
  cursor: pointer;
  width: 158px;
  height: 45px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('./images/profileedit.png');
  background-size: 40px 40px;
  margin-top: 85px;
  margin-left: -35px;
}
